<h2><%= @script.title %></h2>

<div>
  <p><%= @script.tagline %></p>
  <p><%= @script.summary %></p>
  <p>
    <%= link_to "Read Script", @script.file_url, target: "_blank", onclick: "countView()" %>
  </p>
  <p>
    <%= link_to "Edit Script", edit_script_path(@script) if current_script_author?(@script) %>
  </p>
  <p>
    <%= link_to "Mark as favorite", {
      controller: :stars,
      action: :create,
      user_id: current_user.id,
      script_id: @script.id},
      method: :post unless @script.uploaded_by?(current_user.id) || current_user.starred_script?(@script.id)
    %>
  </p>
  <p><%= link_to "Delete Script", script_path(@script), method: :delete if current_script_author?(@script) %></p>

  <% if @user_rating %>
    <%= render 'edit_rating_form' %>
  <% else %>
    <%= render 'new_rating_form' %>
  <% end %>

</div>
