<h2><%= @script.title %></h2>

<div>
  <p><%= @script.tagline %></p>
  <p><%= @script.summary %></p>
  <p>
    <%= link_to "Download Script", @script.pdf.url, target: "_blank" %>
  </p>
  <p>
    <%= link_to "Edit Script", edit_script_path(@script) %>
  </p>
</div>