<h2><%= @script.title %></h2>

<div>
  <p><%= @script.tagline %></p>
  <p><%= @script.summary %></p>
  <p>
    <%= link_to "Read Script", @script.pdf.url, target: "_blank" %>
  </p>
  <p>
    <%= link_to "Edit Script", edit_script_path(@script) if current_script_author?(@script) %>
  </p>
  <p>
    <%= link_to "Star this Script!", {
      controller: :stars,
      action: :create,
      user_id: current_user.id,
      script_id: @script.id},
      method: :post unless current_user.starred_script?(@script.id)
    %>
  </p>
  <p><%= link_to "Delete Script", script_path(@script), method: :delete if current_script_author?(@script) %></p>
  <p><%= link_to "Back to Scripts", scripts_path %></p>
</div>