<h2><%= @script.title %></h2>

<div>
  <p><%= @script.tagline %></p>
  <p><%= @script.summary %></p>
  <p>
    <%= link_to "Read Script", @script.pdf.url, target: "_blank" %>
  </p>
  <p>
    <%= link_to "Edit Script", edit_script_path(@script) if current_script_author?(@script) %>
  </p>
  <p>
    <%= link_to "Mark as favorite", {
      controller: :stars,
      action: :create,
      user_id: current_user.id,
      script_id: @script.id},
      method: :post unless @script.uploaded_by?(current_user.id) || current_user.starred_script?(@script.id)
    %>
  </p>
  <p><%= link_to "Delete Script", script_path(@script), method: :delete if current_script_author?(@script) %></p>

  <div class='form'>
    <%= form_for @rating do |form| %>
      <%= form.hidden_field :script_id, value: @script.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      Stars: <%= form.select(:stars, options_for_select(Rating::Stars)) %><br>
      <%= form.submit value: 'Save Rating' %>
    <% end unless current_user.rated_script?(@script.id) %>
  </div>
  <p><%= link_to "Back to Scripts", scripts_path %></p>
</div>
