<!DOCTYPE html>
<html>
<head>
  <title>Script Garden</title>
  <%= stylesheet_link_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'https://s3-us-west-2.amazonaws.com/scriptgarden/favicon.ico' %>
</head>
<body>
<nav>
  <%= render 'layouts/nav_menu' %>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<main class="container">
  <%= yield %>
</main>

</body>
</html>
